TrainMyEnglish.xcodeproj/xcuserdata/stanislav.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TrainMyEnglish.xcodeproj/xcuserdata/stanislav.xcuserdatad/xcschemes/TrainMyEnglish.xcscheme
TrainMyEnglish.xcodeproj/xcuserdata/stanislav.xcuserdatad/xcschemes/xcschememanagement.plist
