<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nouns</key>
	<array>
		<dict>
			<key>base</key>
			<string>box</string>
			<key>plural</key>
			<string>boxes</string>
			<key>translation</key>
			<string>коробка</string>
			<key>tags</key>
			<array>
				<string>thirdFace</string>
			</array>
		</dict>
		<dict>
			<key>tags</key>
			<array>
				<string>thirdFace</string>
			</array>
			<key>base</key>
			<string>woman</string>
			<key>plural</key>
			<string>women</string>
			<key>translation</key>
			<string>женщина</string>
		</dict>
		<dict>
			<key>tags</key>
			<array>
				<string>thirdFace</string>
			</array>
			<key>base</key>
			<string>man</string>
			<key>plural</key>
			<string>men</string>
			<key>translation</key>
			<string>мужчина</string>
		</dict>
	</array>
	<key>pronouns</key>
	<array>
		<dict>
			<key>tags</key>
			<array>
				<string>thirdFace</string>
			</array>
			<key>base</key>
			<string>It</string>
			<key>translation</key>
			<string>оно</string>
		</dict>
		<dict>
			<key>tags</key>
			<array>
				<string>thirdFace</string>
			</array>
			<key>base</key>
			<string>He</string>
			<key>translation</key>
			<string>он</string>
		</dict>
		<dict>
			<key>tags</key>
			<array>
				<string>groupFace</string>
			</array>
			<key>base</key>
			<string>You</string>
			<key>translation</key>
			<string>ты</string>
		</dict>
		<dict>
			<key>tags</key>
			<array>
				<string>personalFace</string>
			</array>
			<key>base</key>
			<string>I</string>
			<key>translation</key>
			<string>я</string>
		</dict>
	</array>
	<key>verbs</key>
	<array>
		<dict>
			<key>tags</key>
			<array>
				<string>mainVerb</string>
			</array>
			<key>base</key>
			<string>be</string>
			<key>translation</key>
			<string>быть, являться</string>
			<key>forms</key>
			<dict>
				<key>thirdFace</key>
				<string>is</string>
				<key>groupFace</key>
				<string>are</string>
				<key>personalFace</key>
				<string>am</string>
				<key>secondFormSingular</key>
				<string>was</string>
				<key>secondFormPlural</key>
				<string>were</string>
				<key>thirdForm</key>
				<string>been</string>
				<key>gerund</key>
				<string>being</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
